.pagination__container {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: baseline;
  gap: .4rem;

  & a {
    display: block;
    min-width: 3rem;
    padding: .75rem 0;
    text-align: center;
    border: 1px solid white;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: rgb(41, 41, 41);
    }
  }
}