.home__events {
  background-color: #181818;
  display: flex;
  justify-content: center;
}

.events__container {
  max-width: 1440px;
  width: 100%;
  height: fit-content;
  padding: 3rem 0;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  
  @media screen and (max-width: 1000px) {
    padding: 0 1.5rem;
  }
}

.events__header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.events__cards {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  min-height: 1248px;
  z-index: 10;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
  }
}
