@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --cta-color: linear-gradient(135deg, #0c8cbf 0%, #b00c3f 100%);
  --cta-color_hover: drop-shadow(0px 0px 4px #2dacdf);
  --identity-color: #b00c3f;
  --identity-hover: #ce3062;
  --link-color: #0c8cbf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 48px;
}

body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: #282828;
}