.home__events {
  background-color: #181818;
  display: flex;
  justify-content: center;
}

.events__container {
  max-width: 1440px;
  width: 100%;
  height: fit-content;
  padding: 3rem 0;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  
  @media screen and (max-width: 1000px) {
    padding: 0 1.5rem;
  }
}

.events__header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.search-bar__wrapper {
  position: relative;
  z-index: 200;
  width: 100%;
  padding: 1rem;
  border-radius: 15px;
  background-color: #ffffff15;
  border: solid 1px #ffffff15;
  backdrop-filter: blur(10px);
  
  & .search-bar__input {
    width: inherit;
    height: inherit;
    color: white;
    display: block;
    background-color: transparent;
    background: none;
    outline: none;
    border: none;
  }
}

.search-event__input {
  display: flex;
  align-items: center;
  gap: 1rem;

  & button {
    background: none;
    border: none;
    cursor: pointer;
  }

  & input {
    height: 24px;
    width: 100%;
    border: none;
    border-bottom: solid 2px #ffffff15;
    background-color: transparent;
    color: white;

    &:focus {
      outline: none;
    }
  }

  & .search__options {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 2.75rem;
    left: 0;
    width: 100%;
    max-height: 180px;
    overflow-y: scroll;
    background-color: #0F0F0F;
    border: solid 1px #282828;
    list-style: none;
    z-index: 200;

    & .search__option {
      width: 100%;
      padding: .65rem;
      border-bottom: 1px solid #282828;
      cursor: pointer;
    }

    & .active-search {
      background-color: rgb(89, 92, 243);
    }
  }
}

.events__cards {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  min-height: 1248px;
  z-index: 10;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
  }
}
